@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* Loading page */
.loadingPage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    
    margin: 10px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      display: none;
    }
  }
.loadingPage.hidden{
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {


    70% {
        opacity: 1;
    }
    100% {
        opacity: 0 ;
        visibility : hidden;
    }

    
}
/* Navbar styles */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: white;
    z-index: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 30%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-items {
    padding-right: 30px;
}

.btn-dark.btn {
    color: white !important;
    border-radius: 0;
}
.nav-links li a {
    color: black;

    text-decoration: none;
}

.landing {
    height: 90vh;
    padding-top: 10vh;
    width: 80vw;
    margin: 0 auto;
}

/* Landing page tabs */

.tab {
    overflow: hidden;
    margin: 50px;
}
.tablinks {
    background-color: white;
    float: left;
    border: 1px solid black;
    cursor: pointer;
    padding: 14px 16px;
    margin-left: 14px;
    margin-top: 14px;
    border-radius: 0 !important;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.tab button.active {
    background-color: rgb(255, 0, 149);
    border: none;
}

.tab button:hover {
    background-color: rgb(255, 0, 149);
    /* border-color: white; */
    color: white;
}

.tab button:focus {
    outline: none;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    margin: 50px;
    animation: fadeEffect 1s;
    -webkit-animation: fadeEffect 1s;
    -moz-animation: fadeEffect 1s;
}

.landingImg {
    width: 500px;
}

.landing-text {
    margin-top: 50px;
    margin-left: 80px;
    font-size: 60px;
    font-weight: bold;
}

.special-text {
    color: rgb(255, 0, 149);
}
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* the animated background boxes */
.boxcontainer {
    position: relative;
}
.box1 {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: -11;
    width: 500px;
    height: 500px;
    border: 30px solid rgba(255, 48, 211, 0.3);
    transform: rotateZ(65deg);
}

.box2 {
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: -11;
    width: 200px;
    height: 200px;
    border: 30px solid rgba(255, 0, 0, 0.3);
}

.box3 {
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: -11;
    width: 300px;
    height: 300px;
    border: 30px solid rgba(207, 196, 205, 0.3);
    transform: rotateZ(65deg);
    
}


@keyframes rotate{
    100% {
        transform: rotate(180deg);
    }
}

.box4 {
    position: absolute;
    top: 70%;
    right: 0%;
    z-index: -11;
    width: 200px;
    height: 200px;
    border: 30px solid rgba(119, 108, 108, 0.3);
    animation: rotate 3s infinite;

}

.morecontent {
    position: relative;
    height: 100vh;
    background-color: black;
    z-index: -10;
    color: white;
    width: 100vw;
}

.morecontent .innercontent {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}
.morecontent::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -25%;
    z-index: -12;
    width: 125vw;
    height: 75%;
    background: inherit;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/* Media Queries */

@media screen and (max-width: 1600px) {
    .morecontent {
        margin-top: 100px;
    }
    .morecontent::before {
        top: 1%;
    }

    .nav-links {
        width: 40%;
    }
}
@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    nav {
        position: relative;
        background-color: white;
        z-index: 1;
    }

    .hamburger {
        position: fixed;
        cursor: pointer;
        right: 6%;
        top: 2%;
        z-index: 2;
    }
    .nav-links {
        position: fixed;
        background: black;
        height: 70vh;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        padding-top: 10vh;
        clip-path: circle(100px at 95% -5%);
        -webkit-clip-path: circle(100px at 95% -5%);
        transition: all 1s ease-out;
        pointer-events: none;
        overflow-y: hidden;
    }

    .nav-links.open {
        clip-path: circle(500px at 90% -10%);
        -webkit-clip-path: circle(500px at 90% -10%);
        pointer-events: all;
        overflow-y: scroll;
    }
    .nav-links li {
        padding: 20px;
        opacity: 0;
    }

    .nav-links li a {
        color: white;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li.fade {
        opacity: 1;
    }

    .tab {
        margin: 10px 30px 10px 50px;
    }

    .tabcontent {
        margin: 10px 50px;
    }

    .landing {
        width: 100vw;
        margin-top: 0;
        padding-top: 0;
    }

    .landing-text {
        font-size: 30px;
        margin: 10px 60px;
    }
    .landingImg {
        width: 300px;
    }

    .box1 {
        width: 100px;
        height: 100px;
        border: 3px solid rgba(255, 0, 0, 0.3);
    }

    .box2 {
        left: 10%;
        width: 20px;
        height: 20px;
        border: 3px solid rgba(255, 0, 0, 0.3);
    }
}
